html {
    font-family: Helvetica;
}

body {
    margin: 0px;
    overflow-x: hidden;
    font-size: 15px;
}

button {
    outline: none;
}


main {
    margin: 1% 15%;
}

nav {
    position: relative;
    left: -40px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.navlist:first-child {
    cursor: pointer;
}

ul {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

p {
    width: 400px;
    display: inline-block;
    position: relative;
    line-height: 1.35;
}

a {
    color: blue;
    text-decoration: none;
}

li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: black;
}

.bullet-container {
    display: inline-block;
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
}

li:hover .bullet-container {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.bullet {
    margin: 0px 5px;
    border-radius: 50%;
}

h1 {
    font-size: 15px;
    font-weight: normal;
}

section {
    margin: 1% 15%;
    display: flex;
    justify-content: space-between;
}

section #coding {
    width: 290px;
}


.contact-modal-container {
    display: none;
    position: absolute;
    background-color: white;
    border-radius: 100%;
    border: 1px solid black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    z-index: 200;
    padding: 15px;
}

.cm-info {
    display: flex; 
    flex-direction: column;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cm-info div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 18px;
}

.cm-info div a:hover {
    text-decoration: underline;
}

.c-to-c {
    position: relative; 
    top: 5px;
    width: 25px;
    height: auto;
}

.c-to-c .copy {
    cursor: pointer;
}

.c-to-c .tooltip {
    visibility: hidden;
    position: absolute;
    top: 35px;
    width: 80px;
    font-size: 8px;
    opacity: 0;
}

.c-to-c:hover .tooltip {
    opacity: 1;
    visibility: visible; 
    transition: opacity 1s ease-in-out;  
    text-align: center; 
}

#close-modal {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 20px;
    right: 0px;
    z-index: 300;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    border: none;
    font-size: 20px;
    width: 20px;
    background-color: #fff;
}

#close-modal:active {
    background-color: black;
}

#video-carousel {
    position: relative;
    top: 5px;
    width: auto;
    height: 290px;
}

.video-container {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
}


#demos-link {
    color: black;
    border: 1px solid black;
    border-radius: 50%;
    padding: 70px;
    position: absolute;
    display: block;
    text-align: center;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    animation: fadein .5s;
}

#demos-link:active {
    background-color: black;
}

.video-container iframe {
    margin: 10px;
    position: relative;
    animation: moveup 1.5s, fadein 2.5s;
    outline: none;
    padding: 0px;
} 

#video-carousel iframe:focus {
  opacity: 1;
}

#hide {
    position: absolute;
    left: 0px;
    top: -30px;
    font-size: 20px;
    background-color: #fff;
    cursor: pointer;
    animation: fadein 2.5s;
    border: 1px solid black;
    width: 25px;
    height: 25px;
    padding: 0px;
    font-weight: 200;
    
}

#hide:active {
    background-color: black;
}


@keyframes moveup {
    from { bottom: -500px }
    to { bottom: 0px }
}

@keyframes fadein {
    0% { opacity: 0 }
    25% { opacity: 0.25}
    50% { opacity: 0.5 }
    75% { opacity: 0.75 }
    100% { opacity: 1 }
 }



.time {
    /* position: fixed; */
    bottom: -30px;
    width: 100%;
    height: 100px;
}

.time h3 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 5;
    font-size: 15px;
    text-align: center;
    padding: 20px;
    opacity: 0.8;
}

.copied {
    display: none;
    font-size: 10px;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    border-radius: 5px;
    background-color: rgb(181, 181, 181);
    z-index: 10000;
}

.blogs {
    margin-top: 50px;
    position: relative;
    top: 20px;
    display: flex;
    justify-content: center;
    width: 14%;
    margin: 0 auto;
}

.blogs h1 {
    margin-right: 10px;
}

.blogs img {
    position: relative;
    top: -10px;
}


.hover:hover {
    cursor: pointer;
    transform: translateY(-10px);
}

.embedly-card {
    padding: 10px 30px 0px 30px;
    /* background: rgb(215, 215, 215); */
    /* border: 1px solid black; */
    height: 500px;
}

.embedly-card h4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.embedly-card h4 img {
    display: block;
    margin-top: 20px;
    width: 430px;
    height: 250px;
}

.embedly-card p {
    margin-top: 0px;
    width: 100%;
    z-index: 1000;
}

.bi-link {
    cursor: pointer;
}

#bi-title {
    font-size: 30px;
}

@media screen and (max-width: 1250px) {
    .blogs {
        margin-left: 20px;
        flex-direction: column;
        width: auto;
    }

    .blogs h1, img {
        text-align: center;
        margin: 0 auto;
    }

    .embedly-card {
        padding: 10px 2px;
        height: auto;
    }

    #bi-title {
        text-align: center;
    }
}


@media screen and (max-width: 850px) {

    * {
        font-size: 18px;
    }

    body {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        max-width: 850px;
        overflow-x: hidden;  
    }

    h1 {
        font-size: 18px;
    }

    .supreme {
        height: auto;
    }

    p {
        display: block;
        text-align: center;
    }

    nav {
        display: block;
        width: 100%;
        margin: 0 auto;
    }

    nav li {
       width: 100%;
    }

    #mini-bio {
        opacity: 0.8;
        width: auto;
        text-align: left;
    }
    
    nav p {
        display: block;
        width: 200px;
        margin: 0 auto;
    }

    section {
        display: flex;
        flex-direction: column;
    }
    
    .info-container {
        margin-top: 15px;
        height: 200px;
        overflow-y: scroll;
        padding: 0px 5px;
        border: 1px solid #000000;
    }

    .info-container::-webkit-scrollbar {
        display: none;
    }

    section #coding {
        width: auto;
    }

    section #music {
        width: auto;
    } 

    section #music::before {
        position: relative;
        top: -15px;
        display: block;
        background-image: url('./images/down-arrow.png');
        background-size: 30px 30px;
        width: 30px;
        height: 30px;
        content: '';
        margin: 0 auto;
    }

    #video-carousel {
        display: flex;
        width: 100%;
        margin: 0 auto;
        padding-top: 20px;
        padding-bottom: 40px;
        overflow-y: hidden;
        overflow-x: scroll;       
    }

    #video-carousel::-webkit-scrollbar {
        display: none;
    }

    .video-container {
        display: flex;
        position: absolute;
        padding-top: 25px;
        justify-content: center;
        align-items: center;
    }

    .video-container iframe {
        display: block;
        width: 300px;
        margin-right: 10px;
        padding: 1%;
    }

    .video-container iframe:last-child {
        padding-right: 20px;
    }

    #hide {
        position: absolute;
        left: 10px;
        top: 0px;
        z-index: 10000000;
        padding: 1px;
    }
    
    .time {
        display: none;
    }

    .copied {
        font-size: 10px;
    }


    .embedly-card img {
        width: 375px;
        height: 200px;
    }

}

@media screen and (max-width: 450) {
   
    body {
        overflow-x: none;
        overflow-y: scroll;
        font-size: 25px;
    }

    h1 {
        font-size: 25px;
    }

    .info-container {
        height: auto;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

    .info-container #music::before {
        position: relative;
        top: -40px;
    }

    #video-carousel {
        display: flex;
        flex-direction: column;
    }
    
    .video-container {
        display: block;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .video-container iframe {
        display: block;
        width: 350;
    }

    nav ul li {
        font-size: 20px;
    }

    .time {
        display: none;
    }

    #hide {
        margin-left: 10px;
    }

    .blogs {
        width: auto;
    }
    
    .embedly-card img {
        width: 374px;
        height: 200px
    }
}

